<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>

    <!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
    <script
      src="https://kit.fontawesome.com/9549af6625.js"
      crossorigin="anonymous"
    ></script>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/fontawesome.min.css"
      integrity="sha512-xX2rYBFJSj86W54Fyv1de80DWBq7zYLn2z0I9bIhQG+rxIF6XVJUpdGnsNHWRa6AvP89vtFupEPDP8eZAtu9qA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Project Exercise #9</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdownMenuLink"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Dropdown
              </a>
              <ul
                class="dropdown-menu"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                  <a class="dropdown-item" href="#">Something else here</a>
                </li>
              </ul>
            </li>
            <li class="nav-item username">
              <form class="d-flex" role="login">
                <input
                  class="form-control me-2"
                  type="search"
                  placeholder="Email"
                  aria-label="Email"
                />
                <input
                  class="form-control me-2"
                  type="search"
                  placeholder="Password"
                  aria-label="Password"
                />
              </form>
            </li>
            <li class="nav-item Login">
              <button type="submit" class="btn btn-success" value="Login">
                Sign in
              </button>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Jumbotron -->
    <div class="p-5 bg-light">
      <h1 class="mb-3">Hello World!</h1>
      <p class="mb-3">
        This is Exercise #9. It includes a large callout called a jumbotron and
        three supporting pieces of content
      </p>
      <a class="btn btn-primary" href="" role="button">Learn more</a>
    </div>
    <!-- Jumbotron -->

    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="card h-100 border-0">
        <div class="card-body">
          <h6 class="card-title">Heading</h6>
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in
            to additional content. This content is a little bit longer.
          </p>
          <button class="btn btn-outline-secondary">
            <i class="fa-solid fa-signal"></i> View details
          </button>
        </div>
      </div>
      <div class="card border-0 h-100">
        <div class="card-body">
          <h6 class="card-title">Heading</h6>
          <p class="card-text">
            This card has supporting text below as a natural lead-in to
            additional content.
          </p>
          <button class="btn btn-outline-secondary">
            <i class="fa-solid fa-mobile-screen"></i> View details
          </button>
        </div>
      </div>
      <div class="card border-0 h-100">
        <div class="card-body">
          <h6 class="card-title">Heading</h6>
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in
            to additional content. This card has even longer content than the
            first to show that equal height action.
          </p>
          <button class="btn btn-outline-secondary">
            <i class="fa-solid fa-location-dot"></i> View details
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
